<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Signal - A puzzle</title>

    <!-- Vendor Packages (These must be locally downloaded and referenced) -->
    <script src="/public/vendor/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="/public/vendor/bootstrap/css/bootstrap.min.css">
    <script src="/public/vendor/bootstrap/js/bootstrap.min.js"></script>
    <link href="/public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="/public/css/clean-blog.min.css" rel="stylesheet">
    <link href="/public/css/signal.css" rel="stylesheet">

  </head>

  <body>
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            Menu <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand">Signal</a>
        </div>

        <!-- Set up the navigation links to the clues -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a onclick="scrollTo('section_towers')">The View</a></li>
            <li><a onclick="scrollTo('section_clock')">The Clock</a></li>
            <li><a onclick="scrollTo('section_sound')">The Sound</a></li>
            <li><a onclick="scrollTo('section_number')">The Number</a></li>
            <li><a onclick="scrollTo('section_answer')">The Answer</a></li>
            <li><a class="blink_me" onClick="$(this).fadeOut('slow')">Help</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- The View Section: Sets up the main theme and scenario -->
    <header class="intro-header section_towers">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="site-heading">
              <img class="signal_blink" src="/public/img/Signa-logo.png">
              <hr class="small">
              <span class="subheading">You awaken on a beach, towers in the distance
              and no memory of previous events.</span>
              <hr>
              <span class=" smallify">You have a clock, a box and some papers.
                Perhaps these will help you find your way.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- The Clock Section: Nice Try -->
    <header class="intro-header section_clock">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="site-heading">
              <h1>The Clock</h1>
              <hr class="small">
              <span id="ClockHeading" class="subheading">This is your clock.  Something is wrong with it.
               Sand perhaps. Maybe give it a few shakes?</span>
              <hr>
              <div id="clock">1:08:00 PM &nbsp;&nbsp;&nbsp; <i id="alarm_icon" class="fa fa-bell" style="cursor:pointer" data-toggle="modal" data-target="" aria-hidden="true"></i></div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- The Sound Section:-->
    <header class="intro-header section_sound">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="site-heading">
              <h1>The Sound</h1>
              <hr class="small">
              <span class="subheading">You reach into your pocket and find a scrap of paper.</span>
              <hr>
              <span class=" smallify">All this says is "Number Station .-. --- --- ... . ...- . .-.. -" Strange...</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- The Number Section: -->
    <header class="intro-header section_number">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="site-heading">
              <h1>The Number</h1>
              <hr class="small">
              <span class="subheading">You recall a faint memory.</span>
              <hr>
              <span class=" smallify">A series of numbers lie at the edge of your mind.
                <b>1101100</b>.  What could it mean? </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- The Answer Section: -->
    <header class="intro-header section_answer">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="site-heading">
              <h1>The Answer</h1>
              <hr class="small">
              <span class="subheading">You believe you know the solution...</span>
              <hr>
              <input id="puzzleSolution" type="text" class="answer" placeholder="Find Your Way"></input><br>
              <h1 onclick="checkSolution();" style="font-size:30px;cursor:pointer;" onhover="opacity:0.7;"  data-toggle="modal" data-target="#answerModal" aria-hidden="true">TRANSMIT
                <i class="fa fa-signal" aria-hidden="true"></i></h1>
            </div>
          </div>
        </div>
      </div>
    </header>


    <script src="/public/js/clean-blog.min.js"></script>
    <script src="/public/js/signal.js"></script>


    <!-- Setting up some of the modals I use for the clues -->
    <!-- ================================================= -->

    <!-- Clock modal shows the alerts -->
    <div class="modal fade" id="alarmModal" tabindex="-1" role="dialog" aria-labelledby="alarmModalLabel" style="opacity:0.8">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body alarm_clock">
            Alarm 1: 8:00PM <br>
            Alarm 2: 9:00PM <br>
            <div class="blink_me">...</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Answer modal-->
    <div class="modal fade" id="answerModal" tabindex="-1" role="dialog" aria-labelledby="answerModalLabel" style="opacity:0.8">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div id="answerModelText" class="modal-body alarm_clock"></div>
        </div>
      </div>
    </div>

  </body>

</html>
