<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>KAPastor - Analytics | Development | Web</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <!-- Theme CSS -->
    <link href="/public/css/clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <link href="/public/css/signal.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand">
                  Signal
                </a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a>The View</a>
                    </li>
                    <li>
                        <a>The Clock</a>
                    </li>
                    <li>
                        <a>The Sound</a>
                    </li>
                    <li>
                        <a>The Number</a>
                    </li>
                    <li>
                        <a>The Answer</a>
                    </li>
                    <li>
                        <a class="blink_me" onClick="$(this).fadeOut('slow')">Help</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header section_towers">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                      <img class="signal_blink" src="/public/img/Signa-logo.png">
                        <hr class="small">
                        <span class="subheading">You awaken on a beach, towers in the distance
                        and no memory of previous events.</span>
                        <hr>

                        <span class=" smallify">Hello friend.  I found your belongings.  You have a clock, and some papers.  Perhaps these will help you find your way.  Farewell...</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <header class="intro-header section_clock">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                      <h1>The Clock</h1>
                        <hr class="small">
                        <span class="subheading">This is your clock.  It seems to have an alarm.  Perhaps you should look at it.</span>
                        <hr>
                          <div id="clock"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <header class="intro-header section_sound">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                      <h1>The Sound</h1>
                        <hr class="small">
                        <span class="subheading">You reach into your pocket and find a scrap of paper.</span>
                        <hr>
                        <span class=" smallify">All this says is "Number Station ... ..- -... .--- . -.-. - / -.--." Strange..."</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <header class="intro-header section_number">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                      <h1>The Number</h1>
                        <hr class="small">
                        <span class="subheading">You reach into your pocket and find a scrap of paper.</span>
                        <hr>
                        <span class=" smallify">All this says is "Number Station ... ..- -... .--- . -.-. - / -.--." Strange..."</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <header class="intro-header section_answer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                      <h1>The Sound</h1>
                        <hr class="small">
                        <span class="subheading">You reach into your pocket and find a scrap of paper.</span>
                        <hr>
                        <span class=" smallify">All this says is "Number Station ... ..- -... .--- . -.-. - / -.--." Strange..."</span>
                    </div>
                </div>
            </div>
        </div>
    </header>



    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <!-- Theme JavaScript -->
    <script src="/public/js/clean-blog.min.js"></script>
    <script src="/public/js/signal.js"></script>



    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="opacity:0.8">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body alarm_clock">
            Alarm 1: 8:00PM <br>
            Alarm 2: 9:00PM <br>
            <div class="blink_me">...</div>
                </div>
        </div>
      </div>
    </div>
</body>

</html>


<!-- To reach a port we must set sail -->
